* {
    box-sizing: border-box;
}

.main-div {
    border: 1px solid rgba(0, 0, 0, 0.438);
    border-radius: 10px;
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.hero-div {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-para {
    width: 50%;
    text-align: center;
}

.div-2 {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-2-1 {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.438);
    width: 45%;
    border-radius: 5px;
    height: 100%;
}

.div-2-1-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}

.div-2-1-3 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: rgba(0, 0, 0, 0.445);
    padding: 0px 20px;
}

.div-2-1-3-1 {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.div-2-2 {
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 50%;
    height: 440px;
}

.div-2-2-1 {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.438);
    height: 28%;
    border-radius: 5px;
}

.div-2-2-2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 20px;
}

.div-2-2-3 {
    color: rgba(0, 0, 0, 0.445);
    padding: 0px 0px;
}

.div-2-1-3-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 0px 20px;
}
